.header{
    padding: 20px 10px 25px 10px;
    background: #555;
    color: #f1f1f1;
    margin: -8px;
}
.header h2{
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}
.header li{
    display: inline-block;
    vertical-align: middle;
    float: right;
    margin: 0;
    padding-left: 15px;
    text-decoration: none;
    color: white;
}
.sticky{
    position: fixed;
    top: 0;
    width: 100%;
    padding-top: 28px;
}
